$white:#fff;
$grayD:#333;
$gray:#666;
$contentColor:#777;
$grayL:#999;
$borderGray:#DDD;
$orange:#FF8700;
$red:#FC2B07;
$greenL:#00a497;
$green:#4CC25C;
$greenD:#478384;

$blueXL:#80989b;
$blueL:#5b7e91;
$blue:#44617b;
$blueD:#203744;

$themeColor:$blue;
$themeLColor:$blueL;

$zIndex-page:1;
$zIndex-component:10;
$zIndex-modal:100;
$zIndex-max:1000;

$bg:#f0f5f8;
$commonBg:#fff;
$commonFC:$grayD;
$btnFC:$gray;
$btnLightFC:$grayL;
$activeFC:$orange;
$rowHeight:40px;
$paddingX:20px;
$paddingY:20px;
$borderColor:#ddd;
$grayBg:#F9F9F9;
$remarkFC:#ccc;
$width:1200px;
$mobileWidth:300px;

$containerMarginY:80px;
$footerFC:#d6ecf0;